
<tr id="<%= dom_id quiz %>">
  <td><%= link_to quiz %></td>
  <td>
  <div><%= button_to 'Edit', edit_quiz_path(quiz), method: :get%></div> 
  <div><%= button_to "Delete", quiz, method: :delete %></div>
  </td>
</tr>

